* text=auto !eol
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/Doxyfile -text
/INSTALL -text
/Makefile.am -text
/Makefile.in -text
/NEWS -text
/README -text
/README.W32 -text
/README.in -text
/THANKS -text
WIN32/OBOE_LIB.vs3.sln -text
WIN32/OBOE_LIB.vs3.vcproj -text
WIN32/OBOE_LIB.vs5.sln -text
WIN32/OBOE_LIB.vs5.vcproj -text
WIN32/Test/MCFTest/MCFTest.vcproj -text
WIN32/Test/MCFTest/ReadMe.txt -text
WIN32/config.h -text
/config.h -text
/config.h.in -text
config/config.guess -text
config/config.sub -text
config/depcomp -text
config/install-sh -text
config/ltmain.sh -text
config/missing -text
/configure -text
/configure.ac -text
/create_oboe_lib.sh -text
doc/Makefile.am -text
doc/Makefile.in -text
doc/OBOE-FAQ.html -text
doc/userguide/OBOE-UserGuide.pdf -text
include/AccpmBlasInterface.h -text
include/AccpmDefs.h -text
include/AccpmDynMatrix.h -text
include/AccpmGenMatrix.h -text
include/AccpmSignal.h -text
include/AccpmVector.h -text
include/ExitCode.h -text
include/Oracle.h -text
include/Parameters.h -text
include/QpGenerator.h -text
include/Timer.h -text
include/config.h -text
m4/Makefile.am -text
m4/Makefile.in -text
m4/coin.m4 -text
m4/oboe_usr_libs.m4 -text
/reconf -text
src/AccpmCore/LocSet.C -text
src/AccpmCore/LocSet.h -text
src/AccpmCore/Makefile.am -text
src/AccpmCore/Makefile.in -text
src/AccpmCore/Manager.C -text
src/AccpmCore/Manager.h -text
src/AccpmCore/ManagerTest.C -text
src/AccpmCore/Method.C -text
src/AccpmCore/Method.h -text
src/AccpmCore/Solution.C -text
src/AccpmCore/Solution.h -text
src/AccpmCore/param.txt -text
src/AccpmLA/AccpmBlasInterface.C -text
src/AccpmLA/AccpmBlasInterface.h -text
src/AccpmLA/AccpmDynMatrix.C -text
src/AccpmLA/AccpmDynMatrix.h -text
src/AccpmLA/AccpmGenMatrix.C -text
src/AccpmLA/AccpmGenMatrix.h -text
src/AccpmLA/AccpmLASolve.C -text
src/AccpmLA/AccpmLASolve.h -text
src/AccpmLA/AccpmVector.C -text
src/AccpmLA/AccpmVector.h -text
src/AccpmLA/Makefile.am -text
src/AccpmLA/Makefile.in -text
src/AccpmLA/MatrixTest.C -text
src/Benchmark/APS/APC_rot.reservoir -text
src/Benchmark/APS/APSTest.C -text
src/Benchmark/APS/Makefile.am -text
src/Benchmark/APS/Makefile.in -text
src/Benchmark/APS/param.txt -text
src/Benchmark/CS/CSData.dat -text
src/Benchmark/CS/CSTest.C -text
src/Benchmark/CS/Makefile.am -text
src/Benchmark/CS/Makefile.in -text
src/Benchmark/CS/param.txt -text
src/Benchmark/HACCPM/HACCPMTest.C -text
src/Benchmark/HACCPM/Makefile.am -text
src/Benchmark/HACCPM/Makefile.in -text
src/Benchmark/HACCPM/dtm.dat -text
src/Benchmark/HACCPM/haccpm.pdf -text
src/Benchmark/HACCPM/param.txt -text
src/Benchmark/LA/LATest.C -text
src/Benchmark/LA/Makefile.am -text
src/Benchmark/LA/Makefile.in -text
src/Benchmark/LA/param.txt -text
src/Benchmark/MCF/Cpl30.txt -text
src/Benchmark/MCF/Dpl30.txt -text
src/Benchmark/MCF/MCFOracle.C -text
src/Benchmark/MCF/MCFOracle.h -text
src/Benchmark/MCF/MCFOracleFunction.C -text
src/Benchmark/MCF/MCFOracleFunction.h -text
src/Benchmark/MCF/MCFSmoothOracleFunction.C -text
src/Benchmark/MCF/MCFSmoothOracleFunction.h -text
src/Benchmark/MCF/MCFTest.C -text
src/Benchmark/MCF/Makefile.am -text
src/Benchmark/MCF/Makefile.in -text
src/Benchmark/MCF/param.txt -text
src/Benchmark/Makefile.am -text
src/Benchmark/Makefile.in -text
src/Benchmark/NNPOL/EigenValue.C -text
src/Benchmark/NNPOL/EigenValue.h -text
src/Benchmark/NNPOL/Makefile.am -text
src/Benchmark/NNPOL/Makefile.in -text
src/Benchmark/NNPOL/NNPOLTest.C -text
src/Benchmark/NNPOL/NNPOL_B.dat -text
src/Benchmark/NNPOL/NNPOL_C.dat -text
src/Benchmark/NNPOL/NNPOL_Q.dat -text
src/Benchmark/NNPOL/NNPOL_iA.dat -text
src/Benchmark/NNPOL/NNPOL_rA.dat -text
src/Benchmark/NNPOL/param.txt -text
src/Benchmark/PMED/Makefile.am -text
src/Benchmark/PMED/Makefile.in -text
src/Benchmark/PMED/PMEDTest.C -text
src/Benchmark/PMED/dist.txt -text
src/Benchmark/PMED/param.txt -text
src/Benchmark/QP/Makefile.am -text
src/Benchmark/QP/Makefile.in -text
src/Benchmark/QP/QPNDHSmoothOF.C -text
src/Benchmark/QP/QPNDHSmoothOF.h -text
src/Benchmark/QP/QPNDHTest.C -text
src/Benchmark/QP/QPTest.C -text
src/Benchmark/QP/QP_A.dat -text
src/Benchmark/QP/QP_B.dat -text
src/Benchmark/QP/QP_C.dat -text
src/Benchmark/QP/QP_E.dat -text
src/Benchmark/QP/QP_F.dat -text
src/Benchmark/QP/param.txt -text
src/Benchmark/README -text
src/Benchmark/TSP/Makefile.am -text
src/Benchmark/TSP/Makefile.in -text
src/Benchmark/TSP/TSPTest.C -text
src/Benchmark/TSP/param.txt -text
src/Benchmark/TSP/tsp29.coord -text
src/Benchmark/UAX/Makefile.am -text
src/Benchmark/UAX/Makefile.in -text
src/Benchmark/UAX/UAXTest.C -text
src/Benchmark/UAX/UAX_A.dat -text
src/Benchmark/UAX/UAX_B.dat -text
src/Benchmark/UAX/param.txt -text
src/Makefile.am -text
src/Makefile.in -text
src/Oracle/Makefile.am -text
src/Oracle/Makefile.in -text
src/Oracle/Oracle.C -text
src/Oracle/Oracle.h -text
src/ProblemInput/Makefile.am -text
src/ProblemInput/Makefile.in -text
src/ProblemInput/ParameterTest.C -text
src/ProblemInput/Parameters.C -text
src/ProblemInput/Parameters.h -text
src/ProblemInput/param.oboe -text
src/UI/Makefile.am -text
src/UI/Makefile.in -text
src/UI/QpGenerator.C -text
src/UI/QpGenerator.h -text
src/Utilities/AccpmDefs.h -text
src/Utilities/AccpmSignal.h -text
src/Utilities/ExitCode.h -text
src/Utilities/Makefile.am -text
src/Utilities/Makefile.in -text
src/Utilities/Timer.h -text
